#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  height: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0,4);
}
#main-doc{
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}
